# Build
build/
out/
cmake-build-*/
*.o
*.obj
*.exe
*.dll
*.so
*.dylib

# IDE
.vs/
.vscode/
*.sln
*.vcxproj*
.idea/
*.swp
*.swo

# Python
__pycache__/
*.pyc
*.pyo
.eggs/
*.egg-info/
.venv/
venv/

# Blender
*.blend1
*.blend2

# OS
.DS_Store
Thumbs.db
desktop.ini

# Test renders
*.ppm

# Project specific
*.vgeo
*.vscene
!tests/assets/**/*.vgeo
!tests/assets/**/*.vscene
